h1{
    color: rgb(0, 0, 0)
}

.entire-corn{
   height: 110vh;
}

.head{
    background-color: rgb(239, 247, 250);
    font-size:40px;
    border-radius: 5px;
    height: 25%;
    margin: 0pz;

    overflow-x: scroll;
    white-space: nowrap;
}
.fancybuttons{
    display: inline-block;
}
.buttonline{
    height: 30%;
    display: block;
}

.calculator{
    display: inline-block;
    height: 15%;
}

.calc-block{
    border-width: 10px;
    border-style: solid;
    border-color: #111023;
    text-align: center;
    display: block;
    height: 70%;
    background-color: gray;
    border-radius: 20px;
    padding: 5px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#logo{
max-height: 200px;
}


#corn{
  position: static;
  width: auto;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

button{
  font-family: monaco;
  margin: 2px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3e3c45;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(55, 56, 62);
}

button:hover {background-color: #111023}

button:active {
  background-color: #161622;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

.buttonline{
  display: flex;
  justify-content: center;
  
}
body{
    font-family: 'Orbitron';
}
html{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
}

p{
    margin-top: 0px;
    margin-bottom: 0px
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.coin{
    max-height: 30vh;
}